.main-page {
  .page-header {
    background-color: var(--background-third-color);
    height: 80px;
    display: flex;
    align-items: center;
    h3 {
      margin: 0;
      font-weight: 500;
      font-size: 45px;
      letter-spacing: 1px;
    }
  }
}
.container {
  width: 1080px;
  margin: 0 auto;
  .reports-container {
    display: flex;
    flex-direction: column;
    .report-container {
      margin-bottom: 20px;
      a {
        border: 2px solid orangered;
        padding: 6px;
        text-decoration: none;
      }
      .not-found {
        border: 2px dashed transparent;
        padding: 6px;
        color: yellowgreen;
      }
    }
  }
}
